.header {
  position: fixed;
  top: 0;
  left: 0px; /* On desktop, account for the sidebar width */
  right: 0;
  height: 80px;
  background: var(--hcisd-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--hcisd-accent);
  padding: 0 16px;
  z-index: 1200;
}

.header__logo {
  position: absolute;
  left: 16px;
}

.header__banner {
  height: 60px;
  object-fit: contain;
}

.header__title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 960px) {
  .header {
    left: 0;
  }
}
